# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=kqD2qHn2ZoYU8bz7e+Z7uw==,rw0RO68gv3/RJefGZfMMIw==,Ao/LrBy/Yd1Pdi8n5lIQuQ==,+ZfuHU7pzhdGEzpOyQzLEQ==
API_TOKEN_SALT=viIy/ifky8ih/hGJd4Dzlg==
ADMIN_JWT_SECRET=XyebhwUYuoRnT7S1D2YUVw==
TRANSFER_TOKEN_SALT=MGJrkEsdlEq3mFFszaSuaA==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5439
DATABASE_NAME=2077_research
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=pGCc3C3O5F19nIxzylp7dw==

